<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <rewrite>
                <rules>
                    <clear />

                    <rule name="generatedImage" stopProcessing="true">
                        <match url="^image.jpg"  ignoreCase="true" />
                        <action type="Rewrite" url="image.php"  />
                    </rule>

                    <rule name="Link" stopProcessing="true">
                        <match url="^link"  ignoreCase="true" />
                        <action type="Rewrite" url="link.php"  />
                    </rule>
                </rules>
            </rewrite>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
                <redirectHeaders>
                    <clear />
                </redirectHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
</configuration>
